<!DOCTYPE html>
<html><head><title>{{ page.title }}</title><meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="s/style.css"></link>
<script type="application/javascript" src="s/jquery-1.4.2.min.js"></script>
<script type="application/javascript" src="s/standard.js"></script>
</head>
<body>
<header><h1>{{ page.heading }}</h1></header>
<nav><ul class="menu"><li class="img"><a href="index.html"><img src="s/SkullTiny.png" /></a></li><li class="menu"><a href="#">OOC</a><ul class="menu mf"><li class="menu"><a href="about">About</a></li><li class="menu"><a href="rules">House Rules</a></li><li class="menu"><a href="gamelocations">Game Dates and Locations</a></li></ul></li><li class="menu"><a href="#">IC</a><ul class="menu mf"><li class="menu"><a href="timeline">Timeline</a></li><li class="menu"><a href="setting">Setting</a></li><li class="menu"><a href="cabals">Cabals</a></li></ul></li></ul></nav><br /><br />
{{ content }}
</body></html>
