<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>{{ title }}</title><link rel="stylesheet" type="text/css" href="s/style.css"></link><script type="application/javascript" src="s/jquery-1.4.2.min.js" /><script type="application/javascript" src="s/standard.js" /><meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" /></head>
<body>
<header><h1>{{ heading }}</h1></header>
<nav><ul class="menu"><li class="img"><a href="index.html"><img src="s/SkullTiny.png" /></a></li><li class="menu"><a href="#">OOC</a><ul class="menu mf"><li class="menu"><a href="about">About</a></li><li class="menu"><a href="rules">House Rules</a></li><li class="menu"><a href="gamelocations">Game Dates and Locations</a></li></ul></li><li class="menu"><a href="#">IC</a><ul class="menu mf"><li class="menu"><a href="timeline">Timeline</a></li><li class="menu"><a href="setting">Setting</a></li><li class="menu"><a href="cabals">Cabals</a></li></ul></li></ul></nav>
{{ content }}
</body></html>
